	@import url('http://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
    @import url('font-awesome-4.6.3/css/font-awesome.min.css');
		html {
			--bg-color: #f9ecd1;
			--rust: #600;
			--radius: 4px;
		}
		body {
			margin: 0;
			color: #333;
			font-family: 'Lato', sans-serif;
			background-color: #ddd;
		}
		#wrapper {
			margin: 0 auto;
			max-width: 840px;
			position: relative;
			background-color: #fff;
		}
		header {
			font-family: 'Crushed', cursive;
			padding-top: 2px;
		}
        a {
            color: #aa0000;
            text-decoration:  none;
            transition: color 0.5s;
        }
        a:hover {
            text-decoration: underline;
            color: red;
        
        }
		h1, h2 {
			color: var(--rust);
			margin-top: 10px;
			margin-left: 20px;
			font-size: 4rem;
			margin-bottom: 0;
		}
		h2 {
			font-size: 32px;
			margin-top: 0;
		}
		h3 {
			font-size: 2rem;
			margin-top: 10px;
			margin-bottom: 0;
		}
		aside th {
			text-align: right;
		}

		aside ul {
			list-style: none; 
			margin: 1em; 
			padding: 0;
		}
/*		.nav {
			list-style:none;
			padding: 0;
			position: absolute;
			right:0;
			top: 60px;
		}
		.nav li { 
			display: inline-block;
			margin-right: 10px;
		}*/

		.nav {
			padding: 0;
			display: flex;
			list-style: none;
		}
		.nav li {
			flex: 1;
			text-align: center;
		}


		.nav a {
			color: #fff;
			text-decoration: none;
			padding: 6px;
			display: block;
			background-color: var(--rust);
			transition: background-color 0.5s linear;
		}
		.nav a:hover {
			color: #fff; 
			background-color: #ff9800;
		}
		aside {
			position: absolute; 
			top: 200px; 
			left: 22px; 
			width: 180px; 
			background-color: var(--bg-color); 
			padding: 6px;
			border: 1px solid #600;
			border-radius: var(--radius);
			box-shadow: 3px 3px 3px #ddd;
		}
		article {
			margin: 0 20px 0 240px;
		}
		blockquote  {
			float: right; 
			width: 40%;
			padding: 16px; 
			font-size: 24px;
			font-style: italic;
		}
		article img {
			float:  right;
		}


		.popover {
			position: fixed;
            z-index: 15;
			top: calc(50% - 150px);
			left: calc(50% - 112.5px);
			border: 1px solid var(--rust);
			background: #fff;
			padding: 16px;
			width: 300px;
			height: 225px;
			border-radius: var(--radius);
			display: none;
            box-shadow: 4px 4px 6px rgba(0,0,0,3);
		}

        .popover .closer {
          /**  float: right; **/
            cursor: pointer;
            position: absolute;
            top: -11px;
            right: -14px;
            background: var(--rust);
        }

		.showme {
			display: block;
		}
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            width: 100vw; /* viewport width */
            height: 100vh;
            z-index: 10;
        }

		@media print {
			* {
				display: none !important;
			}
		}

		@media all and (max-width: 800px){
			.nav {
				top: 0;
				left:0;
				margin: 0;
			}
			aside {
				position: static;
				float: left;
				margin-right: 20px;
			}
			article {
				margin-left: 20px;
			}
			blockquote {
				width: 100%;
				float: none;
				margin: 0;
			}
		}