body {
    background: #eed;
    padding:  1em;
    font-family: verdana, sans-serif;
    font-size:  62.5%;

}
#footer {
    /* rem ==> root em , root size i.e. html tag default values */
	padding-top: 3rem;
	font-size: 1rem;
 
/**    clear:both;   **/
}

.wrap {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  /* default value */
  /**  flex-direction: row-reverse;  **/
  justify-content: center;
 /**  align-items: flex-start; **/ /* default value */
/**  align-items: center; **/
 align-content: center;
}

.pic ul {
  display: none;
}



.pic {
/**   float: left;  **/
  height: 128px; 
  width: 128px;
  border: 1px solid black;
    margin: 20px 10px; 

    padding: 1em; 
  background: url(img/frame-ls.gif) center no-repeat;
}

.pic img {
  border: 1px solid #444; 
  border-color: #444 #aaa #aaa #444;
 }

.pic:nth-child(1) {
    order: 4;
}

.ls img { 
  margin: 16px 0;
}
.pt img {
  margin:0 16px;
}

.pt {
    order: 2; /* make all pic's with pt class (portrait) to the end of list */
	background-image: url(img/frame-pt.gif);
}
