@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    background:#eed;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
#footer {
    padding-top: 3rem;
    font-size: 1.25rem;
	flex: none;


  
}
.Site {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.Site #selectCss {
	flex: none;
	/* TODO: need max width here */
	max-width: 9rem;
	min-width: 9rem;
	margin: 1rem;

}

.Site #footer {
	flex: none;
	
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	flex: 1 0 auto; /* 2 */
		

	
}

.pic .tn { /* thumbnail class tag */
	float: left;
    margin-right: 32px;
 }

 .tn img {
	border: 1px solid #333;
}

.pic {

	height: 128px;
	width: 128px;
	border: 1px solid black;
	margin: 20px 10px;
	padding: 1em;
	background: url(img/frame-ls.gif) center no-repeat;
}

.pic ul {
	display: none;
	padding: 0;
	margin-left: 140px;
	list-style: none;

}

.pic .title {
	font-weight: bold;
  padding: 0.5rem 0;
	border-bottom: 1px solid #333;
	padding-left: 0.5rem;
}
.pic .catno {
	color: #777; 
	text-align: right;  
    margin-right: 4.5rem;
}
.pic .price {
	color: #777; 
	text-align: right;
    margin: -1.2rem 0 0 0;
}

.pic li {
    line-height: 1.2rem; 
}

.pic img {
	border: 1px solid #444;
	border-color: #444 #aaa #aaa #444;
}


/** landscape class **/
.ls img {
	margin: 16px 0;
}

/** portrait class **/

.pt img {
	margin: 0 16px;
}

/** override the portrait style  fromes to use different image **/
.pt {
	background-image:  url(img/frame-pt.gif);
	order: 2;
}
@media screen and (max-width: 400px){
  .wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}