@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    background:#eed;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
#footer {
    padding-top: 3rem;
    font-size: 1.25rem;
	flex: none;


  
}
.Site {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.Site #selectCss {
	flex: none;
	/* TODO: need max width here */
	max-width: 9rem;
	min-width: 9rem;
	margin: 1rem;

}

.Site #footer {
	flex: none;
	
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	flex: 1 0 auto; /* 2 */
	/** align-items: flex-start; **/
/**	justify-content: flex-start; **/
		

	
}

/**
.sub-container {

margin: auto;
align-self: flex-start;
}

**/
.pic {

/* Box-sizing: border-box; */

	height: 128px;
width: 128px; 


	margin: 10px 10px;
	padding: 1em;
   display: flex;  
    flex-direction: column;
/**	justify-content: flex-end;  **/
/**	align-items: center; **/
	


}


.link {
	margin: auto;
}
.list {

	margin: auto;
}


.pic .tn { /* thumbnail class tag */

  /**   margin-right: 32px; **/
  margin: auto;
 }

 .tn img {
	border: 1px solid #333;
}

.pic ul {

	padding: 0;

	list-style: none;
	margin: auto;

}

.pic .title {
	font-weight: bold;
    font-size: 75%;
  text-align: center;
  


   
}


.pic .catno {
	display: none;
}
.pic .price {
display:  none;
}



.pic img {
	border: 1px solid #444;
	border-color: #444 #aaa #aaa #444;
}


/** landscape class **/
.ls img {
	margin: 16px 0;
}

/** portrait class **/

.pt img {
	margin: 0 16px;
}



@media screen and (max-width: 400px){
  .wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}