@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    background:#eed;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
#footer {
    padding-top: 3rem;
    font-size: 1.25rem;
  
}


.wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100vh;
}

.sub-container {

margin: auto;

}

.pic .tn {
	float: left; 
	margin-right: 32px;
 }

.pic {
	margin: 10px;
	clear: left;
	width: 350px;
}

.tn img {
	border: 1px solid #333;
	margin-bottom: 1rem;
}

/** Add margins and padding to separate text and pic and remove bullets **/
.pic ul {
	padding: 0;
	margin-left: 140px;
	list-style: none;
	border: 3px double #552;
}

.pic .title {
	font-weight: bold;
  	padding: 0.5rem 0;
	border-bottom: 1px solid #333;
	padding-left: 0.5rem;
}
.pic .catno {
	color: #777; 
	text-align: right;  
	margin: 0 4.5em 0 auto;
	width: 4rem;
	border-left: 1px solid #333;
}
.pic .price {
	color: #777; 
	text-align: right;
	margin: -1.2rem 3px 0 auto;
	width: 4rem;
	border-left: 1px solid #333;
}

.pic li {
    line-height: 1.2rem; 
}

@media screen and (max-width: 400px){
  .wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}